*{
	font-family: "arial";
}

html{	
	background-image: linear-gradient(#11998e,#38ef7d);
	background-size:cover;
	height: 100%;
}

#square{
	width:80%;
	margin: 2em auto;
	background:#FFF;
	max-width: 800px;
	border-radius: 8px;
	min-height: 350px;
}

#content-title span{
	float:right;
	font-size: 18px;
	color: #0000000;
	padding:0.5em;
}

#contents{
	padding: 2em;
	line-height: 0.2;
}

#contents h1{
	text-align: center;
	line-height: 0.8;
	font-size: 42px;
	color: #dd1818;
}